{% extends 'base.html.twig' %}

{% block body %}

    <div class="container box-form margin_scroll text-center">
        <h2>Nuevo Producto</h2>
        <div class="row justify-content-center">
            <div class="col-lg-5 text-left">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-success col-12 mt-2" value="Subir">
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}