{% extends 'base.html.twig' %}
{% block body %}

    <h2>Empieza a vender con nosotros</h2>
    <p>Puedes empezar buscando que productos tenemos disponibles para vender. Solo aceptamos productos nuevos, sin utilizar.</p>
<div class="col-12 col-md-6 col-lg-6 text-center justify-content-center" id="buscador">
    {{
    render(
        controller('App\\Controller\\SearcherController::searchAction')
    )
    }}
</div>
{% endblock %}